@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #1e1e1d;
  --primary-color-dark: #d79447;
  --primary-color-light: #f9ac54;
  --white: #ffffff;
  --max-width: 900px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

ul {
  list-style: none;
}

.section_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem;
}

.nav_container {
  position: fixed;
  width: 100%;
  margin-inline: auto;
  z-index: 9;
}

.nav_header {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}


.nav_logo a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.nav_logo span {
  color: var(--primary-color-light);
}

.nav_menu_btn {
  font-size: 1.2rem;
  color: var(--white);
  cursor: pointer;
}

.nav_menu_btn i:hover {
  color: var(--primary-color-dark);
}

.nav_links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--primary-color);
  transition: 0.3s;
  transform: translateY(-100%);
  z-index: -1;
}

.nav_links a {
  color: var(--white);
}

.nav_links a:hover {
  color: var(--primary-color-dark);
}

.nav_links.open {
  transform: translateY(0);
}


/* Header */

.header_container {
  background-image: url(/assets/dashboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: darken;
  color: var(--white);
}

.header_content {
  max-width: 400px;
  text-align: center;
}

.header_content img {
  margin-block: 1.5rem;
  margin-inline: auto;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  transition: 0.1s linear 0.1s;
}

.header_content h2 {
  margin-block: 1.5rem;
}

.header_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.header_btns .btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.header_btns .btn:hover {
  background-color: var(--primary-color-light);
}

.header_btns a {
  padding: 0.75rem 1.5rem;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
}

.header_btns a:hover {
  color: var(--primary-color-light);
  border-color: var(--primary-color-dark);
}

.header_ .header_content img:hover {
  transform: scale(1.1);
}


/* skill container */
.skill_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background-color: gray;
  color: var(--white);
}

.skill_lists {
  display: flex;
  margin: 1.2rem;
  gap: 2rem;
}

.skill_lists li {
  font-size: 3rem;
}

/* Project container */

.project_container {
  background-color: black;
  padding: 1.2rem;
}

.project_container h2 {
  color: var(--white);
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.project_grid {
  display: grid;
  gap: 2rem;
}

.project_card {
  max-width: 450px;
  margin-inline: auto;
  background-color: var(--primary-color);
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.project_card_detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5rem;
  margin: 1rem;
}

.project_card_detail a {
  font-size: 1.5rem;
  color: var(--white);
}

.project_card_detail p {
  font-size: 1.1rem;
  color: var(--white);
}

.project_card_detail h4 {
  font-size: 1rem;
  color: gray;
}

.footer_container {
  padding: 1.2rem;
  background-color: var(--primary-color);
  color: var(--white);
}

.footer_container h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.footer_container p {
  margin-bottom: 1rem;
}

.footer_container .mail_contact a {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 10px;
  align-items: center;
}

.mail_contact a span {
  font-size: 1rem;
}

.footer_socials {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.footer_socials a {
  font-size: 1.3rem;
  color: var(--white);
}

.footer_socials a:hover {
  color: var(--primary-color-light);
}

@media (min-width: 786px) {
  nav {
    background-color: var(--primary-color);
  }

  .nav_container {
    position: static;
    padding: 1.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .nav_header {
    width: 100%;
    background-color: transparent;
  }

  .nav_logo a {
    font-size: 2rem;
  }

  .nav_links {
    position: static;
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    transform: none;
    gap: 4rem;
    z-index: 1;
    color: var(--white);
  }

  .nav_menu_btn {
    display: none;
  }

  .section_container {
    max-width: none;
  }

  .header_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 3rem;
    margin-inline: auto;
    max-width: 1500px;
    margin-bottom: 2rem;
  }
}